
  <div class="max-w-5xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">My Orders</h1>

    <!-- Order Card -->
    @for (order of orderService.orders; track $index) {
    <div class="bg-white shadow rounded-lg mb-6 p-6">
      <div class="flex justify-between items-center mb-4">
        <div>
          <p class="text-sm text-gray-500">Order ID: <span class="font-medium text-blue-600">#{{order._id}}</span></p>
          <p class="text-sm text-gray-500">Date: {{order.date | date:'dd MMM yyyy'}}</p>
        </div>
        <div>
          <span class="px-2 py-1 text-xs bg-green-100 text-green-800 rounded-full">{{order.status}}</span>
        </div>
      </div>
       @for (item of order.items; track $index) {
      <!-- Item Previews -->
       @if(item.product){
      <div class="flex flex-wrap gap-4 border-t pt-4 mt-3">
        <div class="flex items-center gap-4">
          <img [src]="item.product.images[0] " alt="Item" class="w-14 h-14 object-cover rounded" />
          <div>
            <p class="text-sm font-medium">{{item.product.name}}</p>
            <p class="text-xs text-gray-500">Qty:{{item.quantity}}</p>
          </div>
        </div>
        </div>
       }
       @else{
        <div class="flex flex-wrap gap-4 border-t pt-4 mt-3">
        <div class="flex items-center gap-4">
          <img [src]="item.images[0] " alt="Item" class="w-14 h-14 object-cover rounded" />
          <div>
            <p class="text-sm font-medium">{{item.name}}</p>
          </div>
        </div>
        </div>

       }
    }
      <!-- Order Footer -->
      <div class="mt-4 flex justify-between items-center">
        <p class=" font-semibold text-2xl">Total : <span class="text-green-500 underline">₹{{order.total.toLocaleString()}}</span></p>
        <button  mat-raised-button  class="text-sm text-blue-600 hover:bg-blue-200" [routerLink]="'/order-detail/'+order._id">View Details</button>
      </div>
    </div>
  }
